# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data files
*.csv
*.zip
*.parquet
*.xlsx

# Local environment/config
.env
.env.*
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.temp
